.wspinbutton
{
    margin: 0;
    padding: 0;
    padding-right: 3px;
    height: 20px;
    text-align: right;
}

.wspinbutton-button
{
    cursor: pointer;
    padding: 0;
    margin: 0;
    background: url(images/spin-button.png) transparent;
    border: none;
    width: 14px;
    height: 20px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    *margin-top: 1px;
    vertical-align: top;
}

.wspinbutton-button.up
{
    background: url(images/spin-up.png) transparent;
}

.wspinbutton-button.down
{
    background: url(images/spin-down.png) transparent;
}

