.wbutton
{
    height: 35px;
    cursor: pointer;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 13px;
    color: #192940;
    border: none;
    background: none;
    text-decoration: none;
    overflow: visible;
    font-family: arial;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    zoom: 1;
    *display: inline;  
}

.wbutton-disabled
{
    cursor: default !important;
}

.wbutton span
{
    display: inline-block;
    vertical-align: top;
    line-height: 34px;
}

.wbutton .content
{
    padding-left: 12px;
    padding-top: 1px;
    background: url('images/wbutton.png') no-repeat;
}

.wbutton .final-content
{
    width: 10px;
    height: 35px;
    background: url('images/wbutton.png') no-repeat right top;
}

.wbutton .icon
{
    display: block;
    float: left;
    line-height: 34px;
    margin-right: 8px;
    padding-left: 22px;
    background-position: left center;
    background-repeat: no-repeat;
}

.wbutton .icon-default
{
    background-image: url('images/default-icon.png');
}

.wbutton .icon-default-dark
{
    background-image: url('images/default-dark-icon.png');
}

/********** GRAY BUTTON ***********/
.wbutton-normal-hover .content
{
    background-position: left -35px;
}

.wbutton-normal-hover .final-content
{
    background-position: right -35px;
}

.wbutton-normal-active .content
{
    background-position: left -70px;
}

.wbutton-normal-active .final-content
{
    background-position: right -70px;
}

.wbutton-normal .disabled-content
{
    background-position: left -105px;
    color: #b9b9b9;
}

.wbutton-normal .disabled-final-content
{
    background-position: right -105px;
}


/********** RED BUTTON ***********/
.wbutton-alert
{
    color: white;    
}

.wbutton-alert .content
{
    background-position: left -140px;
    color: white;
}

.wbutton-alert .final-content
{
    background-position: right -140px;
    color: white;
}

.wbutton-alert-hover .content
{
    background-position: left -175px;
}

.wbutton-alert-hover .final-content
{
    background-position: right -175px;
}

.wbutton-alert-active .content
{
    background-position: left -210px;
}

.wbutton-alert-active .final-content
{
    background-position: right -210px;
}

.wbutton-alert .disabled-content
{
    background-position: left -245px;
    color: white;   
}

.wbutton-alert .disabled-final-content
{
    background-position: right -245px;
}

/********** BLUE BUTTON ***********/
.wbutton-action
{
    color: white;    
}

.wbutton-action .content
{
    background-position: left -280px;
    color: white;
}

.wbutton-action .final-content
{
    background-position: right -280px;
    color: white;
}

.wbutton-action-hover .content
{
    background-position: left -315px;
}

.wbutton-action-hover .final-content
{
    background-position: right -315px;
}

.wbutton-action-active .content
{
    background-position: left -350px;
}

.wbutton-action-active .final-content
{
    background-position: right -350px;
}

.wbutton-action .disabled-content
{
    background-position: left -385px;
    color: white;  
}

.wbutton-action .disabled-final-content
{
    background-position: right -385px;
}

.wbutton-submit-trigger
{
    display: none;   
}

/********** LEFT BUTTON ***********/
.wbutton-left .content
{
        border-right: 1px solid #CCC;
}
.wbutton-left-active .content
{
        border-right: 1px solid #CCC !important;
}
.wbutton-left-hover .content
{
        border-right: 1px solid #999;
}
.wbutton-left.disabled .content
{
        border-right: 1px solid #E5E5E5;
        background-position: left -105px;
}
.wbutton-left.disabled-hover, .wbutton-left-active.disabled .content
{
        border-right: 1px solid #E5E5E5 !important;
}
.wbutton-left .icon
{
    padding-left: 16px;
}
.wbutton-left-hover .content
{
    background-position: left -35px;
}
.wbutton-left .final-content
{
    display: none;
}
.wbutton-left-active .content
{
    background-position: left -70px;
}
.wbutton-left .disabled-content
{
    background-position: left -105px;
    color: #b9b9b9;
}
/********** RIGTH BUTTON ***********/
.wbutton-rigth .content
{
        border-left: 1px solid #CCC;
}
.wbutton-rigth-hover .content
{
        border-left: 1px solid #999;
}
.wbutton-rigth.disabled .content, .wbutton-rigth-active.disabled .content
{
        border-left: 1px solid #E5E5E5 !important;
        background-position: right -105px !important;
}
.wbutton-rigth.disabled-hover .content
{
        border-left: 1px solid #E5E5E5;
}
.wbutton-rigth .icon
{
    padding-left: 16px;
}
.wbutton-rigth-hover .content
{
    background-position: left -35px;
}
.wbutton-rigth .final-content
{
    display: none;
}
.wbutton-rigth .disabled-content
{
    background-position: right -105px;
    color: #b9b9b9;
}
.wbutton-rigth .content
{
    background-position: right 0px;
}
.wbutton-rigth-active .content
{
    border-left: 1px solid #CCC !important;
}
.wbutton-rigth-active .content
{
    background-position: right -70px !important;
}
.wbutton-rigth-hover .content
{
    background-position: right -35px;
}
.wbutton-rigth .disabled-content
{
    background-position: right -105px !important;
}
.wbutton-rigth-hover .disabled-content
{
    background-position: right -105px;
}